
.header-img{
 max-width: 777px;
 margin: auto;
}


.header-img-behind{
    background-image: url(../assets/movie_img/bannerbg.png);
    min-height: 50px;
    position: relative;
    background-repeat: repeat-x;
    top: -52px;
    z-index: -1;
}



body{
    background-image: url(../assets/movie_img/background.png);
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
}
.movie-title > h2{
    font-size: 24pt;
    font-weight: 700;
    font-family: ' Tahoma, Verdana, sans-serif';
    text-align: center;
    text-shadow: 3px 3px #999999;
}
.main-content{
    max-width: 800px;
    border: 4px solid grey;
    margin: auto;
    border-radius: 20px;
    height: 100vh;
    display: flex;
}

.content-header-img{
    background-image: url(../assets/movie_img/rbg.png);
    min-height: 83px;
    position: relative;
    background-repeat: repeat-x;
    top: -85px;
    z-index: -1;
}
.section-1{
width: 550px ;
height: 88px;
}
.section-1 > rottenbg_img{
    max-height: 83px;
 
}
p.rating-num {
    font-size: 48pt;
    font-weight: 700;
    color: red;
    position: relative;
    top: -225px;
    left: 128px;
}

.section-2 {
    /* display: flex; */
    padding:  8px;
    border: 1px solid blue;
    width: 250px;
}
.section-2 .reviews{
    border: 1px solid red;
    /* height: 10px; */
    display: flex;
    flex-wrap: wrap;
    max-width: 69%;
}
.section-2 .general-veiw {
    border: 1px solid black;
    width: 250px;
    height: 10px;
}
.reviews .qout-box{
    display: inline;
    max-width: 45%;
    margin-right: 10px;
    /* margin-left: 2%; */
    border: 2px  solid grey;
    padding: 8px;
    border-radius: 10px;
}
/* .qout-box {
    border: 2px  solid grey;
    padding: 8px;
    border-radius: 10px;
} */
.qout-box > img {
    float: left;
    margin-right: 5px;
}
.reviewer-personal-info{
    border: 1px solid red;
    /* height: 10px; */
    display: flex;

}
.reviews .info{
    display: inline;
    max-width: 34%;
    margin-right: 10px;
    border: 2px  solid grey;
    padding: 8px;
    border-radius: 10px;
}
.info > img {
    float: left;
    margin-right: 5px;
}
.section-2 p {
    margin-top: 0px;
}
.review {
    display: grid;
    margin-top: -283px;
    grid-template-columns: 47% 47%;
}
.review > div{
    /* width: 47%; */
    margin: 0px 2px 0px 2px;
    padding: 8px;
}
.column1 > div{
    float: left;
    float: left;
    margin-right: 6px;
}
.column2 > div{
    float: left;
    float: left;
    margin-right: 6px;
}
.column1 > p{
    margin-left: 10px;
}
.user-qoute {
    display: inline-flex;
}