.buttons{
    display: flex;
    justify-content: flex-end;
  
}
.buttons  button{
    margin-right: 12px;
}

@media screen and (max-width:599px){
    .buttons{
        display: flex;
        flex-direction: column;
      
    }
    .buttons  button{
        margin-bottom: 12px;
    }
}