.buttons{
    display: flex;
    justify-content: flex-end;
  
}
.buttons  button{
    margin-right: 12px;
}

@media screen and (max-width:599px){
    .buttons{
        display: flex;
        flex-direction: column;
      
    }
    .buttons  button{
        margin-bottom: 12px;
    }
}
p {
    margin-top: 29px;
    margin-left: 16px;
    color: grey;
    font-size: 36px;
}